# CMake build directory
build/

# CMake temporary files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out

# IDE specific files
.vscode/
.idea/
